<header class="hero min-h-screen"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Applicación de países</h1>
      <p class="mb-5">
        Country App es una aplicación que consume la API pública REST Countries para mostrar información detallada sobre
        países de todo el mundo.
        Permite buscar países por nombre, capital o región, y visualizar datos como la bandera, población, capital, y más, a través de una interfaz moderna construida con Angular y TailwindCSS.
      </p>
      <a routerLink="country" class="btn btn-primary">Get Started</a>
    </div>
  </div>
</header>
